    
    <app-nav></app-nav>
    <!-- <nav>
      <div class="socials">
        <span style="--image:linear-gradient(to right top, #0d0133, #0c0238, #0b033d, #0b0343, #0b0348, #1a0f56, #281b64, #362773, #52438f, #6e61ab, #8a7fc8, #a89fe6);">
          <i><a href="https://www.youtube.com"><fa-icon [icon]="faHouseCrack" class="nav-icon"></fa-icon></a></i>
        </span>
        <span style="--image:linear-gradient(to right top, #39063e, #551c5c, #72317d, #90489f, #af5fc3, #bf72d4, #cf85e5, #df98f6, #e3a9f6, #e7baf6, #eacbf6, #eedbf5);">
        <i><a href="https://www.youtube.com"><fa-icon [icon]="faChartColumn" class="nav-icon"></fa-icon></a></i>
        </span>
        <span style="--image:linear-gradient(to right top, #39063e, #551c5c, #72317d, #90489f, #af5fc3, #bf72d4, #cf85e5, #df98f6, #e3a9f6, #e7baf6, #eacbf6, #eedbf5);">
        <i><a href="https://www.youtube.com"><fa-icon [icon]="faBomb" class="nav-icon"></fa-icon></a></i>
        </span>
        <span style="--image:linear-gradient(to right top, #39063e, #551c5c, #72317d, #90489f, #af5fc3, #bf72d4, #cf85e5, #df98f6, #e3a9f6, #e7baf6, #eacbf6, #eedbf5);">
        <i><fa-icon [icon]="faPersonRays" class="nav-icon"></fa-icon></i>
        </span>
      </div>
    </nav> -->
    <!-- <app-login></app-login> -->
 

 

<router-outlet></router-outlet>
